#game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 500px;
}
.card {
  width: 150px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
